[Unit]
Description=Apache Tomcat application server
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment=CATALINA_PID=/opt/tomcat/8.5.9/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat/8.5.9
Environment=CATALINA_BASE=/opt/tomcat/8.5.9
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/opt/tomcat/8.5.9/bin/startup.sh
ExecStop=/opt/tomcat/8.5.9/bin/shutdown.sh
User=tomcat_as
Group=tomcat_as_group

[Install]
WantedBy=multi-user.target
